/* Global */
html, body{
    padding:0;
    margin:0;
    background:#303030;
}

/* Toast Style Override */
.toast{
    background:rgb(39, 39, 39)!important;  
}

/*End Toast Style Override */

/* Placeholder Values */
::-webkit-input-placeholder {
   line-height: 48px; 
}

:-moz-placeholder { /* Firefox 18- */
  line-height: 48px;  
}

::-moz-placeholder {  /* Firefox 19+ */
   line-height: 48px; 
}

:-ms-input-placeholder {  
  line-height: 48px; 
}

/* End Placeholder Values */

/* End Global */

/* NavBar / Side Nav */
.navBar nav{
 position:relative;
 background-color: #4e64e0!important;
 box-shadow: 2px 0px 7px 1px #222;
 top:-64px;
}



.titleFont{
    font: 300 24px "Roboto", sans-serif;
    line-height: 56px;
    color:#FFF;
    margin-left: 15px;
    
}
.side-nav{
    background-color: #424242!important;
}
.side-nav li:hover, .side-nav li.active{
    background-color: #4e64e0!important; 
}
.side-nav li{
border-bottom: 1px solid #303030;
}
.side-nav li a{
    color:#FFF!important;   
}
/* End NavBar / Side Nav */

/* Content */
/* Todo Entry Styling */
.todoEntry{
   width:50%!important;
    min-height:48px;
   padding:0 15px!important;
   background-color:#303030!important;
   box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.3)!important; 
   border:none!important;
   color:#FFF; 
   line-height:48px;
   margin: 0 0 15px 0;
   font-size:24px!important;
   box-sizing: border-box!important;
   position:relative;
   float:left;
   
}
.todoEntry:focus{
   border-bottom:none!important;
}
.todoDateEntry{
  width:30%!important;
    min-height:48px;
   padding:0 15px!important;
   background-color:#303030!important;
   box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.3)!important; 
   border:none!important;
   color:#FFF; 
   line-height:48px;
   margin: 0 0 15px 15px!important;
   font-size:24px!important;
   box-sizing: border-box!important;
   position:relative;
   float:left;   
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom:none!important;
    box-shadow: none;
}
.todoEntryButton{
    min-height: 48px;
    line-height:48px;
    width: 8%;
    margin:0 1% 0 1%;
    color:#FFF;
    background-color:#4e64e0;
    border-radius:5px;
    border:none;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.3)!important;
    position:relative;
}
/* Todo Entry Styling End */
.darkCard{
    background-color:#424242!important;
    min-height:56px;
    width:100%;
    height:auto;
    margin: 15px 0!important;
    color: #FFF;
    line-height:56px;
    font-size:1.5rem;
    padding:0 15px!important;
    box-sizing: border-box;
}
.content{
    width:90%;
    margin:15px auto 0 auto!important;
}